<?php
return [
    // Target redirect URL if index.php is called directly.
    'url' => getenv('URL'),
    // Required mail account settings.
    'imap' => [
        'server' => getenv('IMAP_SERVER'),
        'port' => getenv('IMAP_PORT') ?: 993,
        'user' => getenv('IMAP_USER'),
        'password' => getenv('IMAP_PASSWORD'),
        'mailbox' => getenv('IMAP_MAILBOX') ?: 'INBOX',
    ],
    'smtp' => [
        'server' => getenv('SMTP_SERVER'),
        'port' => getenv('SMTP_PORT') ?: 465,
        'user' => getenv('SMTP_USER'),
        'password' => getenv('SMTP_PASSWORD'),
    ],
    // Comma separated list of recipients from env.
    'to' => explode(',', getenv('TO')),
];
